* {
box-sizing: border-box;
}

em {
position: relative;
top: 16px;
width: 220px;
height: auto;
float: right;
font-size: 1.25em;
font-family: Arial;
color: white;
text-align: right;
padding: 3px;
background-color: darkblue;
border: 1px solid black;
}

h1 {
margin-bottom: 15px;
font-size: 1.75em;
font-family: Arial;
color: darkblue;
text-align: center;
}

p {

border: 1px solid black;
background-color: gold;
width = 90%;
height: 300px;
margin-right: auto;
margin-left: auto;
padding: 45px;
font-family: Helvetica;
color: darkblue;
}

#p1 {
    background-color: darkred;
}

#p2 {
    background-color: darkgrey;
}

.row {
position: relative;
width = 100%;
}

@media (min-width: 992px) {
.col-lg1, .col-lg2, .col-lg3, .col-lg4, .col-lg5, .col-lg6, .col-lg7, .col-lg8, .col-lg9, .col-lg10, .col-lg11, .col-lg12 

  {
  float: left;
  margin-top: 20px;
  padding: 5px;
  }

.col-lg1{
    width: 8.33%;
    }
.col-lg2{
    width: 16.66%;
    }
.col-lg3{
    width: 25%;
    }
.col-lg4{
    width: 33%;
    }
.col-lg5{
    width: 41.66%;
    }
.col-lg6{
    width: 50%;
    }
.col-lg7{
    width: 58.33%;
    }
.col-lg8{
    width: 66.66%;
    }
.col-lg9{
    width: 74.99%;
    }
.col-lg10{
    width: 83.33%;
    }
.col-lg11{
    width: 91.66%;
    }
.col-lg12{
    width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
.col-md1, .col-md2, .col-md3, .col-md4, .col-md5, .col-md6, .col-md7, .col-md8, .col-md9, .col-md10, .col-md11, .col-md12 
  {
  float: left;
  margin-left: 3px;

  }

.col-md1{
    width: 8.33%;
    }
.col-md2{
    width: 16.66%;
    }
.col-md3{
    width: 25%;
    }
.col-md4{
    width: 33%;
    }
.col-md5{
    width: 41.66%;
    }
.col-md6{
    width: 48%;
    }
.col-md7{
    width: 58.33%;
    }
.col-md8{
    width: 66.66%;
    }
.col-md9{
    width: 74.99%;
    }
.col-md10{
    width: 83.33%;
    }
.col-md11{
    width: 91.66%;
    }
.col-md12{
    width: 96.25%;
    }
}

@media (max-width: 767px) {
.col-sm1, .col-sm2, .col-sm3, .col-sm4, .col-sm5, .col-sm6, .col-sm7, .col-sm8, .col-sm9, .col-sm10, .col-sm11, .col-sm12 
  {
    float: left;
  }

.col-sm1{
    width: 8.33%;
    }
.col-sm2{
    width: 16.66%;
    }
.col-sm3{
    width: 25%;
    }
.col-sm4{
    width: 33%;
    }
.col-sm5{
    width: 41.66%;
    }
.col-sm6{
    width: 50%;
    }
.col-sm7{
    width: 58.33%;
    }
.col-sm8{
    width: 66.66%;
    }
.col-sm9{
    width: 74.99%;
    }
.col-sm10{
    width: 83.33%;
    }
.col-sm11{
    width: 91.66%;
    }
.col-sm12{
    width: 100%;
    }
}
